openapi: 3.1.0
info:
  title: VBOUT EmailMarketing Application API
  version: '1.0'
  description: VBOUT Features API documentation
servers:
- url: https://api.vbout.com/1
tags:
- name: Application
paths:
  App/Me:
    get:
      summary: Application
      tags:
      - Application
      operationId: get-App-Me
      description: "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`  \n  - - -  \n**Particular endpoint Including All Possible Endpoints' responses**\n  "
      responses:
        '100':
          description: Continue
        '101':
          description: Switching Protocols
        '200':
          description: Successfull operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  business:
                    type: object
                    properties:
                      businessname:
                        type: string
                      contactname:
                        type: string
                      phoneNumber:
                        type: string
                      vboutName:
                        type: string
                      package:
                        type: string
                x-examples:
                  example-1:
                    business:
                      businessname: Loft Hotels
                      contactname: Paul Downy
                      phoneNumber: 212-400-7133
                      vboutName: Loft-corporate
                      package: Franchise
              examples:
                Example Response:
                  value:
                    business:
                      businessname: Loft Hotels
                      contactname: Paul Downy
                      phoneNumber: 212-400-7133
                      vboutName: Loft-corporate
                      package: Franchise
            application/xml:
              schema:
                type: object
                properties: {}
              examples:
                Example:
                  value: No sample.
        '201':
          description: Created
        '202':
          description: Accepted
        '203':
          description: Non-Authoritative Information
        '204':
          description: No Content
        '205':
          description: Reset Content
        '206':
          description: Partial Content
        '207':
          description: Multi-Status (WebDAV)
        '208':
          description: Already Reported (WebDAV)
        '226':
          description: IM Used
        '300':
          description: Multiple Choices
        '301':
          description: Moved Permanently
        '302':
          description: Found
        '303':
          description: See Other
        '304':
          description: Not Modified
        '305':
          description: Use Proxy
        '306':
          description: (Unused)
        '307':
          description: Temporary Redirect
        '308':
          description: Permanent Redirect (experiemental)
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
          application/xml:
            schema:
              type: object
              properties: {}
            examples:
              XML:
                value: No sample.
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '407':
          description: Proxy Authentication Required
        '408':
          description: Request Timeout
        '409':
          description: Conflict
        '410':
          description: Gone
        '411':
          description: Length Required
        '412':
          description: Precondition Failed
        '413':
          description: Request Entity Too Large
        '414':
          description: Request-URI Too Long
        '415':
          description: Unsupported Media Type
        '416':
          description: Requested Range Not Satisfiable
        '417':
          description: Expectation Failed
        '418':
          description: I'm a teapot (RFC 2324)
        '420':
          description: Enhance Your Calm (Twitter)
        '422':
          description: Unprocessable Entity (WebDAV)
        '423':
          description: Locked (WebDAV)
        '424':
          description: Failed Dependency (WebDAV)
        '425':
          description: Too Early
        '426':
          description: Upgrade Required
        '428':
          description: Precondition Required
        '429':
          description: Too Many Requests
        '431':
          description: Request Header Fields Too Large
        '444':
          description: No Response (Nginx)
        '449':
          description: Retry With (Microsoft)
        '450':
          description: Blocked by Windows Parental Controls (Microsoft)
        '451':
          description: Unavailable For Legal Reasons
        '499':
          description: Client Closed Request (Nginx)
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented
        '502':
          description: Bad Gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
        '505':
          description: HTTP Version Not Supported
        '506':
          description: Variant Also Negotiates (Experimental)
        '507':
          description: Insufficient Storage (WebDAV)
        '508':
          description: Loop Detected (WebDAV)
        '509':
          description: Bandwidth Limit Exceeded (Apache)
        '510':
          description: Not Extended
        '511':
          description: Network Authentication Required
        '598':
          description: Network read timeout error
        '599':
          description: Network connect timeout error
      x-codeSamples:
      - lang: cURL
        source: GET https://api.vbout.com/1/app/me.json?key={YOUR_API_ID}
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/ApplicationWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new ApplicationWS($user_key);\n $results = $app->getBusinessInfo();\n print_r($results);\n ?>\n"
