openapi: 3.2.0
info:
  title: Vbout Email Marketing API
  version: '1.0'
  description: '# Introduction

    VBOUT API provides programmatic access to read and write VBOUT data.'
  summary: Vbout's API documentation
servers:
- url: https://api.vbout.com/1
  description: Resource URL
tags:
- name: Email Marketing
paths:
  EmailMarketing/Campaigns:
    get:
      summary: Campaigns
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    campaigns:
                      count: 1
                      items:
                        Draft:
                          data:
                          - id: '889'
                            subject: 'Hop Hop, Happy Fridays have never been happier '
                            message: '...'
                            replyto: info@mycompany.com
                            from_email: no-reply@mycompany.com
                            from_name: Rick's Club American
                            creation_date: 11/04/2014 16:33
                properties:
                  campaigns:
                    type: object
                    properties:
                      count:
                        type: integer
                      items:
                        type: object
                        properties:
                          Draft:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    subject:
                                      type: string
                                    message:
                                      type: string
                                    replyto:
                                      type: string
                                    from_email:
                                      type: string
                                    from_name:
                                      type: string
                                    creation_date:
                                      type: string
              examples:
                example-1:
                  value:
                    campaigns:
                      count: 1
                      items:
                        Draft:
                          data:
                          - id: '889'
                            subject: 'Hop Hop, Happy Fridays have never been happier '
                            message: '...'
                            replyto: info@mycompany.com
                            from_email: no-reply@mycompany.com
                            from_name: Rick's Club American
                            creation_date: 11/04/2014 16:33
      operationId: get-EmailMarketing-Campaigns
      description: '**Authentication:** `Required`

        - - -

        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: string
          default: all
        in: query
        name: filter
        description: The timeline during which the reviews are returned.<br>**Possible values:**  all | sent | scheduled | draft | automation
        required: true
      - schema:
          type: string
          default: none
          pattern: m/d/Y | Y-m-d
          format: date
        in: query
        name: from
        description: The from date which the reviews are returned. The filter must be 'date' for this parameter to work.<br>**Possible values:**   (Date)
      - schema:
          type: string
          format: date
          pattern: m/d/Y | Y-m-d
          default: none
        in: query
        description: 'The from date which the reviews are returned. The filter must be ''date'' for this parameter to work.<br>**Possible values:**  (Date)  '
        name: to
      - schema:
          type: number
          default: '10'
        in: query
        name: limit
        description: Set your record limit number per page.<br>**Possible values:**  (Number)
      - schema:
          type: number
          default: 1
        in: query
        name: page
        description: Set which page you wanna get.<br>**Possible values:**  (Number)
      x-codeSamples:
      - lang: cURL
        source: 'GET https://api.vbout.com/1/emailmarketing/campaigns.json?key={YOUR_API_ID}

          '
      - lang: PHP
        source: "<?php\n   require_once('../PATH/TO/services/EmailMarketingWS.php');\n   $user_key = array('api_key' => '{YOUR_API_KEY}');\n   $app = new EmailMarketingWS($user_key);\n   $params = array(\n   'filter' => 'all',\n   'limit' => '10',\n       );\n     $results = $app->getCampaigns( $params );\n     print_r($results);\n    ?>\n"
      tags:
      - Email Marketing
  EmailMarketing/GetCampaign:
    get:
      summary: Campaign
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    item:
                      id: '889'
                      subject: Reservations were never that easy!
                      message: '...'
                      replyto: no-reply@lofthotels.com
                      from_email: reservations@lofthotels.com
                      from_name: Loft Hotels
                      creation_date: 11/04/2014 16:33
                properties:
                  item:
                    type: object
                    properties:
                      id:
                        type: integer
                      subject:
                        type: string
                      message:
                        type: string
                      replyto:
                        type: string
                      from_email:
                        type: string
                      from_name:
                        type: string
                      creation_date:
                        type: string
              examples:
                example-1:
                  value:
                    item:
                      id: '889'
                      subject: Reservations were never that easy!
                      message: '...'
                      replyto: no-reply@lofthotels.com
                      from_email: reservations@lofthotels.com
                      from_name: Loft Hotels
                      creation_date: 11/04/2014 16:33
      operationId: get-EmailMarketing-GetCampaign
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: integer
          default: none
        in: query
        name: ' id'
        description: The ID of the campaign to return.<br>**Possible Values:**  (ID)
        required: true
      - schema:
          type: string
          default: standard
        in: query
        name: type
        description: The type of the campaign.<br>**Possible Values:**  standard | automated
      x-codeSamples:
      - lang: cURL
        source: 'GET https://api.vbout.com/1/emailmarketing/getcampaign.json?key={YOUR_API_ID}&id=889&type=standard

          '
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => '889',\n     'type' => 'standard',\n );\n $results = $app->getCampaign( $params );\n print_r($results);\n ?>\n"
      tags:
      - Email Marketing
  EmailMarketing/Stats:
    get:
      summary: Stats
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign:
                    type: object
                    properties:
                      stats:
                        type: object
                        properties:
                          open:
                            type: string
                          unopened:
                            type: string
                          bounced:
                            type: string
                          unsubscribed:
                            type: string
                      clicks:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            message:
                              type: string
                            clickers:
                              type: array
                              items:
                                type: string
                x-examples:
                  example-1:
                    campaign:
                      stats:
                        open: 1 (33.33%)
                        unopened: 2 (66.67%)
                        bounced: 0 (0%)
                        unsubscribed: 11 (366.67%)
                      clicks:
                      - url: http://www.netalinissim.com/img/logo.jpg?1400686763
                        message: ''
                      - url: http://www.netalinissim.com
                        message: ''
                        clickers:
                        - example@gmail.com(2 clicks)
              examples:
                example-1:
                  value:
                    campaign:
                      stats:
                        open: 1 (33.33%)
                        unopened: 2 (66.67%)
                        bounced: 0 (0%)
                        unsubscribed: 11 (366.67%)
                      clicks:
                      - url: http://www.netalinissim.com/img/logo.jpg?1400686763
                        message: ''
                      - url: http://www.netalinissim.com
                        message: ''
                        clickers:
                        - Example@gmail.com(2 clicks)
      operationId: get-EmailMarketing-Stats
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: integer
          default: none
        in: query
        name: id
        description: 'The ID of the campaign to return.<br>**Possible values:**  (ID)  '
        required: true
      - schema:
          type: string
          default: standard
        in: query
        name: type
        description: The type of the campaign.<br>**Possible values:**  standard | automated
      x-codeSamples:
      - lang: cURL
        source: 'GET https://api.vbout.com/1/emailmarketing/getcampaign.json?key={YOUR_API_ID}&id=889&type=standard

          '
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => '889',\n     'type' => 'standard',\n );\n $results = $app->getCampaign( $params );\n print_r($results);\n ?>\n"
      tags:
      - Email Marketing
  EmailMarketing/AddCampaign:
    post:
      summary: Add Campaign
      operationId: post-EmailMarketing-AddCampaign
      responses: {}
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: string
          default: none
        in: query
        name: name
        required: true
        description: The name of the campaign.<br>**Possible values:**  (Text)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: subject
        description: The subject line for the campaign.<br>**Possible values:**  (Text)
      - schema:
          type: string
          default: none
          format: email
        in: query
        required: true
        name: fromemail
        description: The from email of the campaign.<br>**Possible values:**  (Email)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: from_name
        description: The from name of the campaign.<br>**Possible values:**  (Text)
      - schema:
          type: string
          default: none
          format: email
        in: query
        required: true
        name: reply_to
        description: The reply to email of the campaign.<br>**Possible values:** (Email)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: body
        description: Message body.<br>**Possible values:** (Text)
      - schema:
          type: string
          default: standard
        in: query
        name: type
        description: The type of the campaign.<br>**Possible values:** standard | automated
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: isscheduled
        description: The flag to schedule the campaign for the future.<br>**Possible values:**  true | false
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: isdraft
        description: The flag to set the campaign to draft.<br>**Possible values:**  true | false
      - schema:
          type: string
          format: date
          pattern: m/d/Y | Y-m-d
          default: none
        in: query
        name: scheduled_datetime
        description: The date and time to schedule the campaign.<br>**Possible values:**  (Date)
      - schema:
          type: integer
          default: none
        in: query
        name: audiences
        description: IDs of audience campaign recipients.(comma separated)<br>**Possible values:**  (IDs)
      - schema:
          type: integer
          default: none
        in: query
        name: lists
        description: IDs of list campaign recipients.(comma separated)<br>**Possible values:**  (IDs)
      x-codeSamples:
      - lang: cURL
        source: "POST https://api.vbout.com/1/emailmarketing/addcampaign.json?key={YOUR_API_ID}\n   name=Test Campaign\n   subject=Hello World\n   fromemail=info@example.com\n   body=Message body\n   type=standard\n   isdraft=true\n"
      - lang: PHP
        source: "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$params = array(\n    'name' => 'Test Campaign',\n    'subject' => 'Hello World',\n    'fromemail' => 'info@example.com',\n    'body' => 'Message body',\n    'type' => 'standard',\n    'isdraft' => 'true',\n);\n$results = $app->addNewCampaign( $params );\nprint_r($results);\n?>\n"
      tags:
      - Email Marketing
  EmailMarketing/EditCampaign:
    post:
      summary: Edit Campaign
      operationId: post-EmailMarketing-EditCampaign
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: integer
          default: none
        in: query
        name: id
        required: true
        description: The ID of the campaign.<br>**Possible values:**  (ID)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: name
        description: The name of the campaign.<br>**Possible values:**  (Text)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: subject
        description: The subject line of the campaign.<br>**Possible values:**  (Text)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: body
        description: Message body.<br>**Possible values:** (Text)
      - schema:
          type: string
          default: none
        in: query
        required: true
        name: fromemail
        description: The from email of the campaign.<br>**Possible values:** (Text)
      - schema:
          type: string
          default: none
        in: query
        name: from_name
        required: true
        description: The from name of the campaign.<br>**Possible values:** (Text)
      - schema:
          type: string
          default: none
          format: email
        in: query
        name: reply_to
        description: The reply to email of the campaign.<br>**Possible values:**(Email)
        required: true
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: isscheduled
        description: The flag to schedule the campaign for the future.<br>**Possible values:** true | false
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: isdraft
        description: The flag to set the campaign to draft.<br>**Possible values:** true | false
      - schema:
          type: string
          pattern: m/d/Y | Y-m-d
          default: none
          format: date-time
        in: query
        name: scheduled_datetime
        description: The date time to schedule the campaign.
      - schema:
          type: integer
          default: none
        in: query
        name: audiences
        description: IDs of audience campaign recipients.(comma separated)<br>**Possible values:** (IDs)
      - schema:
          type: integer
          default: none
        in: query
        name: lists
        description: IDs of list campaign recipients.(comma separated)<br>**Possible values:** (IDs)
      - schema:
          type: string
          default: standard
        in: query
        name: type
        description: The type of the campaign.<br>**Possible values:** standard | automated
      x-codeSamples:
      - lang: cURL
        source: "POST https://api.vbout.com/1/emailmarketing/editcampaign.json?key={YOUR_API_ID}\n   name=Test Campaign\n   subject=Hello World\n   fromemail=info@example.com\n   body=Here the content of your message\n   type=standard\n"
      - lang: PHP
        source: "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$params = array(\n    'name' => 'Test Campaign',\n    'subject' => 'Hello World',\n    'fromemail' => 'info@example.com',\n    'body' => 'Here the content of your message',\n    'type' => 'standard',\n);\n$results = $app->updateCampaign( $params );\nprint_r($results);\n?>\n"
      tags:
      - Email Marketing
  EmailMarketing/DeleteCampaign:
    delete:
      summary: Delete Campaign
      operationId: delete-EmailMarketing-DeleteCampaign
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: integer
          default: none
        in: query
        name: id
        required: true
        description: 'The ID of the campaign to delete.<br>**Possible values:**   (ID) '
      - schema:
          type: string
          default: standard
        in: query
        name: type
        description: The type of the campaign.<br>**Possible values:**  standard | automated
      x-codeSamples:
      - lang: cURL
        source: "POST https://api.vbout.com/1/emailmarketing/deletecampaign.json?key={YOUR_API_ID}\n  id=886\n  type=standard\n"
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => '886',\n     'type' => 'standard',\n );\n $results = $app->removeCampaign( $params );\n print_r($results);\n?>\n"
      tags:
      - Email Marketing
  EmailMarketing/AddTag:
    post:
      summary: Add Tag
      operationId: post-EmailMarketing-AddTag
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`

        - - -

        **Note:** List of tags can be sent as a batch, separated by a comma. Either email or id can be used.'
      x-codeSamples:
      - lang: cURL
        source: "POST https://api.vbout.com/1/emailmarketing/addtag.json?key={YOUR_API_ID}\n   id=xxxxx\n   tagname=this is my first tag\n"
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\t\n $user_key = array('api_key' => '{YOUR_API_KEY}');\t\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => 'xxxxx',\n     'tagname' => 'this is my first tag',\n );\n $results = $app->addTag( $params );\n print_r($results);\n?>\n"
      parameters:
      - schema:
          type: integer
          default: None
        in: query
        name: id
        description: The id of the contact.<br>**Possible values:** (ID)
      - schema:
          type: string
          default: None
        in: query
        name: email
        required: true
        description: The email of the contact.<br>**Possible values:**  (text)
      - schema:
          type: string
          default: None
        in: query
        required: true
        name: tagname
        description: Tag(s) to be added.<br>**Possible values:**  (Text)
      tags:
      - Email Marketing
  EmailMarketing/RemoveTag:
    delete:
      summary: Remove Tag
      operationId: delete-EmailMarketing-RemoveTag
      tags:
      - Email Marketing
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`

        - - -

        **Note:** List of tags can be sent as a batch, separated by a comma. Either email or id can be used'
      parameters:
      - schema:
          type: integer
          default: None
        in: query
        name: id
        description: The id of the contact.<br>**Possible values:**  (ID)
      - schema:
          type: string
          default: None
        in: query
        name: email
        description: The email of the contact.<br>**Possible values:**  (text)
        required: true
      - schema:
          type: string
          default: None
        in: query
        required: true
        name: tagname
        description: Tag(s) to be added.<br>**Possible values:**  (text)
      x-codeSamples:
      - lang: cURL
        source: "POST https://api.vbout.com/1/emailmarketing/removetag.json?key={YOUR_API_ID}\n  id=xxxxx\n  tagname=this is my first tag\n"
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\t\n $user_key = array('api_key' => '{YOUR_API_KEY}');\t\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => 'xxxxx',\n     'tagname' => 'this is my first tag',\n );\n $results = $app->addTag( $params );\n print_r($results);\n?>\n"
  EmailMarketing/GetCoupon:
    get:
      summary: Coupon
      tags:
      - Email Marketing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    coupons:
                    - id: '15817148'
                      email: john@doe.com
                      couponcode: XXXXXXXXXXXXXX
                      couponredeemed: '0'
                      couponredeemedon: N/A
                properties:
                  coupons:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        email:
                          type: string
                        couponcode:
                          type: string
                        couponredeemed:
                          type: integer
                        couponredeemedon:
                          type: string
              examples:
                example-1:
                  value:
                    coupons:
                    - id: '15817148'
                      email: john@doe.com
                      couponcode: XXXXXXXXXXXXXX
                      couponredeemed: '0'
                      couponredeemedon: N/A
      operationId: get-EmailMarketing-GetCoupon
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      parameters:
      - schema:
          type: string
          default: john@doe.com
        in: query
        required: true
        description: The email of the contact to return coupons of.<br> **Possible values:**  (Email)
        name: email
      - schema:
          type: string
          default: '1254'
        in: query
        name: campaignid
        description: The ID of the campaign containing coupons.<br> **Possible values:**  (Campaign id)
      x-codeSamples:
      - lang: cURL
        source: 'GET https://api.vbout.com/1/emailmarketing/getcoupon.json?key={YOUR_API_ID}&email=john@doe.com

          '
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\t\n $user_key = array('api_key' => '{YOUR_API_KEY}');\t\n $app = new EmailMarketingWS($user_key);\n $email = 'john@doe.com';\n $results = $app->getCoupon($email);\n print_r($results);\n ?>\n"
  EmailMarketing/GetEmailTemplates:
    get:
      summary: GetEmailTemplates
      operationId: GET-EmailMarketing-GetEmailTemplates
      description: '**Authentication:** `Required`

        - - -


        **Response Formats:** `XML | JSON`'
      tags:
      - Email Marketing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                templates:
                  count: 2
                  items:
                  - id: '185200'
                    name: Template 1
                    preview_link: https://app.vbout.com/ricks/template/185200/
                  - '...'
      x-codeSamples:
      - lang: cURL
        source: 'GET https://api.vbout.com/1/emailmarketing/getemailtemplates.json?key={YOUR_API_ID}

          '
      - lang: PHP
        source: "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array();\n $results = $app->getCampaign( $params );\n print_r($results);\n ?>\n"
      deprecated: false
  /EmailMarketing/GetContacts:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: object
                    properties:
                      count:
                        type: integer
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            email:
                              type: string
                            status:
                              type: string
                            registration_date:
                              type: string
      operationId: get-EmailMarketing-GetContacts
      description: Get Contacts for a list
      parameters:
      - schema:
          type: integer
        in: query
        name: listid
        required: true
        description: The ID of the list to return its contacts.
      tags:
      - Email Marketing
      summary: Get email marketing get contacts
      x-summary-source: derived
  /EmailMarketing/GetContact:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: integer
                      email:
                        type: string
                      status:
                        type: string
                      registration_date:
                        type: string
      operationId: get-EmailMarketing-GetContact
      description: Get contact based on ID
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        required: true
        description: The ID of the contact to return.
      tags:
      - Email Marketing
      summary: Get email marketing get contact
      x-summary-source: derived
  /EmailMarketing/GetContactsByPhoneNumber:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: object
                    properties:
                      count:
                        type: integer
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            email:
                              type: string
                            status:
                              type: string
                            registration_date:
                              type: string
      operationId: get-EmailMarketing-GetContactsByPhoneNumber
      description: Get Contacts By PhoneNumber
      parameters:
      - schema:
          type: string
          pattern: ^\+?[1-9]\d{1,14}$
        in: query
        name: phone
        description: The phone number of the contacts to return.
        required: true
      - schema:
          type: integer
        in: query
        name: listid
        description: The ID of the list to return its contacts.
      tags:
      - Email Marketing
      summary: Get email marketing get contacts by phone number
      x-summary-source: derived
  /EmailMarketing/AddContact:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  item:
                    type: string
      operationId: post-EmailMarketing-AddContact
      description: 'Add contact. The contact has fields like firstname ''john''. The list contains custom fields with an ID as the key (e.g., {''123'': ''firstname'', ''8910'': ''lastname''}). In request parameters there is a ''fields'' string that contains multiple comma-seperated key-value pairs, such as 123:john,8910:smith.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The email of the contact.
                status:
                  type: string
                  description: The status of the contact.
                listid:
                  type: integer
                  description: The ID of the list to assign this contact to.
                ipaddress:
                  type: string
                  description: The ip of the contact.
                fields:
                  type: string
                  description: Custom Field that has multiple comma-seperated key-value pairs where key is field ID and value is the field value. Format -> key1:value1,key2:value2
      tags:
      - Email Marketing
      summary: Post email marketing add contact
      x-summary-source: derived
  /EmailMarketing/GetContactByEmail:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: integer
                      email:
                        type: string
                      status:
                        type: string
                      registration_date:
                        type: string
      operationId: get-EmailMarketing-GetContactByEmail
      description: Get contact based on email
      parameters:
      - schema:
          type: string
        in: query
        name: email
        required: true
        description: The email of the contact to return.
      - schema:
          type: integer
        in: query
        name: listid
        description: The list id of which this contact does belong to.
      tags:
      - Email Marketing
      summary: Get email marketing get contact by email
      x-summary-source: derived
  /EmailMarketing/EditContact:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-EditContact
      description: 'Edit Contact. The contact has fields like firstname ''john''. The list contains custom fields with an ID as the key (e.g., {''123'': ''firstname'', ''8910'': ''lastname''}). In request parameters there is a ''fields'' string that contains multiple comma-seperated key-value pairs, such as 123:john,8910:smith.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: The ID of the contact.
                email:
                  type: string
                  description: The email of the contact.
                status:
                  type: string
                  description: The status of the contact.
                ipaddress:
                  type: string
                  description: The ip of the contact.
                fields:
                  type: string
                  description: Custom Field that has multiple comma-seperated key-value pairs where key is field ID and value is the field value. Format -> key1:value1,key2:value2
      tags:
      - Email Marketing
      summary: Post email marketing edit contact
      x-summary-source: derived
  /EmailMarketing/SyncContact:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  item:
                    type: string
      operationId: post-EmailMarketing-SyncContact
      description: 'Sync Contact. The contact has fields like firstname ''john''. The list contains custom fields with an ID as the key (e.g., {''123'': ''firstname'', ''8910'': ''lastname''}). In request parameters there is a ''fields'' string that contains multiple comma-seperated key-value pairs, such as 123:john,8910:smith.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                listid:
                  type: integer
                  description: The ID of the list to assign this contact to.
                email:
                  type: string
                  description: The email of the contact.
                status:
                  type: string
                  description: The status of the contact.
                ipaddress:
                  type: string
                  description: The ip of the contact.
                fields:
                  type: string
                  description: Custom Field that has multiple comma-seperated key-value pairs where key is field ID and value is the field value. Format -> key1:value1,key2:value2
      tags:
      - Email Marketing
      summary: Post email marketing sync contact
      x-summary-source: derived
  /EmailMarketing/DeleteContact:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-DeleteContact
      description: Delete Contact
      parameters:
      - schema:
          type: integer
        in: query
        name: listid
        description: The ID of the list of the list to delete from.
        required: true
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the contact to delete.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing delete contact
      x-summary-source: derived
  /EmailMarketing/MoveContact:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-MoveContact
      description: Move Contact from list to list
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the contact.
        required: true
      - schema:
          type: integer
        in: query
        name: listid
        description: The ID of the list to move this contact to.
        required: true
      - schema:
          type: integer
        in: query
        name: sourceid
        description: The ID of the list where this contact is found.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing move contact
      x-summary-source: derived
  /EmailMarketing/GetContactTimeline:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  email:
                    type: string
                  timeline:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            snippet:
                              type: string
                            timestamp:
                              type: integer
                            datetime:
                              type: string
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  label:
                                    type: string
                                  value:
                                    type: integer | string
                      count:
                        type: integer
                      total:
                        type: integer
                  utm:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            link:
                              type: string
                            utm:
                              type: object
                              properties:
                                campaign:
                                  type: string
                                source:
                                  type: string
                                medium:
                                  type: string
                                term:
                                  type: string
                                content:
                                  type: string
                            timestamp:
                              type: integer
                            datetime:
                              type: string
                      count:
                        type: integer
                  automated:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            timestamp:
                              type: integer
                            datetime:
                              type: string
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                      count:
                        type: integer
      operationId: get-EmailMarketing-GetContactTimeline
      description: Get Contact Timeline By ID
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        required: true
        description: The ID of the contact to return his timeline activities.
      - schema:
          type: string
        in: query
        name: include
        required: true
        description: Comma separated keys to return other details with the timeline activities.
      tags:
      - Email Marketing
      summary: Get email marketing get contact timeline
      x-summary-source: derived
  /EmailMarketing/GetContactTimelineByEmailAddress:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  email:
                    type: string
                  timeline:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            snippet:
                              type: string
                            timestamp:
                              type: integer
                            datetime:
                              type: string
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  label:
                                    type: string
                                  value:
                                    type: integer | string
                      count:
                        type: integer
                      total:
                        type: integer
                  utm:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            link:
                              type: string
                            utm:
                              type: object
                              properties:
                                campaign:
                                  type: string
                                source:
                                  type: string
                                medium:
                                  type: string
                                term:
                                  type: string
                                content:
                                  type: string
                            timestamp:
                              type: integer
                            datetime:
                              type: string
                      count:
                        type: integer
                  automated:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            timestamp:
                              type: integer
                            datetime:
                              type: string
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                      count:
                        type: integer
      operationId: get-EmailMarketing-GetContactTimelineByEmailAddress
      description: Get Contact Timeline By Email Address
      parameters:
      - schema:
          type: string
        in: query
        name: email
        required: true
        description: The email address for the contact to return his timeline activities.
      - schema:
          type: string
        in: query
        name: include
        required: true
        description: Comma separated keys to return other details with the timeline activities.
      tags:
      - Email Marketing
      summary: Get email marketing get contact timeline by email address
      x-summary-source: derived
  /EmailMarketing/AddList:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  item:
                    type: string
      operationId: post-EmailMarketing-AddList
      description: Add / Create List
      parameters:
      - schema:
          type: string
        in: query
        name: name
        description: The name of the list.
        required: true
      - schema:
          type: string
        in: query
        name: email_subject
        description: The default subject line of subscription.
      - schema:
          type: string
          format: email
        in: query
        name: reply_to
        description: The Reply to email of the list.
      - schema:
          type: string
          format: email
        in: query
        name: fromemail
        description: The From email of the list.
      - schema:
          type: string
        in: query
        name: from_name
        description: The From name of the list.
      - schema:
          type: string
        in: query
        name: doubleOptin
        description: Email confirmation required (Double opt-in).
      - schema:
          type: string
        in: query
        name: notify
        description: Notify me of new subscribers.
      - schema:
          type: string
          format: email
        in: query
        name: notify_email
        description: Notification Email.
      - schema:
          type: string
          format: email
        in: query
        name: success_email
        description: Subscription Success Email.
      - schema:
          type: string
        in: query
        name: success_message
        description: Subscription Success Message.
      - schema:
          type: string
        in: query
        name: error_message
        description: Subscription Error Message.
      - schema:
          type: string
          format: email
        in: query
        name: confirmation_email
        description: Confirmation Email.
      - schema:
          type: string
        in: query
        name: confirmation_message
        description: Confirmation Message.
      - schema:
          type: string
        in: query
        name: communications
        description: Turn off Communications.
      tags:
      - Email Marketing
      summary: Post email marketing add list
      x-summary-source: derived
  /EmailMarketing/GetLists:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: object
                    properties:
                      count:
                        type: integer
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            form_title:
                              type: string
                            email_subject:
                              type: string
                            reply_to:
                              type: string
                            from_email:
                              type: string
                            from_name:
                              type: string
                            confirmation_email:
                              type: string
                            success_email:
                              type: string
                            confirmation_message:
                              type: string
                            success_message:
                              type: string
                            error_message:
                              type: string
                            doubleOptin:
                              type: string
                            notify_email:
                              type: string
                            creation_date:
                              type: string
      operationId: get-EmailMarketing-GetLists
      description: Get Lists
      parameters:
      - schema:
          type: integer
        in: query
        name: limit
        description: The limit of lists per page.
      - schema:
          type: integer
        in: query
        name: page
        description: the page number used for pagination, when asking for previous or next page as well as specific page number to get lists from.
      tags:
      - Email Marketing
      summary: Get email marketing get lists
      x-summary-source: derived
  /EmailMarketing/GetList:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      form_title:
                        type: string
                      email_subject:
                        type: string
                      reply_to:
                        type: string
                      from_email:
                        type: string
                      from_name:
                        type: string
                      confirmation_email:
                        type: string
                      success_email:
                        type: string
                      confirmation_message:
                        type: string
                      success_message:
                        type: string
                      error_message:
                        type: string
                      doubleOptin:
                        type: string
                      notify_email:
                        type: string
                      creation_date:
                        type: string
                      fields:
                        description: The list of custom fields added to a specific list like firstname, lastname, city, phone, etc.
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          125: First Name
                          325: Last Name
      operationId: get-EmailMarketing-GetList
      description: Get List by name or Id. Make sure to return the custom fields added to a specific list.
      parameters:
      - schema:
          type: string
        in: query
        name: name
        description: The Name of the list to return.
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the list to return.
      tags:
      - Email Marketing
      summary: Get email marketing get list
      x-summary-source: derived
  /EmailMarketing/EditList:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-EditList
      description: Edit List
      parameters:
      - schema:
          type: string
        in: query
        name: name
        description: The name of the list.
        required: true
      - schema:
          type: integer
        in: query
        name: id
        description: The id of the list.
        required: true
      - schema:
          type: string
        in: query
        name: subject
        description: The default subject line of subscription.
      - schema:
          type: string
          format: email
        in: query
        name: reply_to
        description: The Reply to email of the list.
      - schema:
          type: string
          format: email
        in: query
        name: fromemail
        description: The From email of the list.
      - schema:
          type: string
        in: query
        name: from_name
        description: The From name of the list.
      - schema:
          type: string
        in: query
        name: double_optin
        description: Email confirmation required (Double opt-in)? Must be 0 or 1. Convert True to 1 and False to 0.
      - schema:
          type: integer
        in: query
        name: notify
        description: Notify me of new subscribers. Must be 0 or 1. Convert True to 1 and False to 0.
      - schema:
          type: string
          format: email
        in: query
        name: notify_email
        description: Notification Email.
      - schema:
          type: string
          format: email
        in: query
        name: success_email
        description: Subscription Success Email.
      - schema:
          type: string
        in: query
        name: success_message
        description: Subscription Success Message.
      - schema:
          type: string
        in: query
        name: error_message
        description: Subscription Error Message.
      - schema:
          type: string
        in: query
        name: confirmation_email
        description: Confirmation Email.
      - schema:
          type: string
        in: query
        name: confirmation_message
        description: Confirmation Message.
      - schema:
          type: integer
        in: query
        name: communications
        description: Turn off Communications. Must be 0 or 1. Convert True to 1 and False to 0.
      tags:
      - Email Marketing
      summary: Post email marketing edit list
      x-summary-source: derived
  /EmailMarketing/DeleteList:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-DeleteList
      description: Delete List
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the list to delete.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing delete list
      x-summary-source: derived
  /EmailMarketing/AddActivity:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-AddActivity
      description: Add Activity to contact.
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the contact.
        required: true
      - schema:
          type: string
        in: query
        name: description
        description: The description of the activity.
        required: true
      - schema:
          type: string
          format: date-time
          pattern: ^(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2})$
        in: query
        name: datetime
        description: The date and time to activity.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing add activity
      x-summary-source: derived
  /EmailMarketing/AddTag:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-AddTag
      description: Add Tag to contact
      parameters:
      - schema:
          type: string
        in: query
        name: email
        description: The email of the contact.
        required: true
      - schema:
          type: integer
        in: query
        name: id
        description: The id of the contact. (ID)
      - schema:
          type: string
        in: query
        name: tagname
        description: Tag(s) to be added.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing add tag
      x-summary-source: derived
  /EmailMarketing/RemoveTag:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-RemoveTag
      description: Remove Tag
      parameters:
      - schema:
          type: string
        in: query
        name: email
        description: The email of the contact.
        required: true
      - schema:
          type: integer
        in: query
        name: id
        description: The id of the contact.
      - schema:
          type: string
        in: query
        name: tagname
        description: Tag(s) to be deleted.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing remove tag
      x-summary-source: derived
  /EmailMarketing/GetEmailTemplates:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: object
                    properties:
                      count:
                        type: integer
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            preview_link:
                              type: string
      operationId: get-EmailMarketing-GetEmailTemplates
      description: Get Email Templates
      parameters:
      - schema:
          type: integer
        in: query
        name: limit
        description: The limit of templates per page.
      - schema:
          type: integer
        in: query
        name: page
        description: the page number used for pagination, when asking for previous or next page as well as specific page number to get templates from.
      tags:
      - Email Marketing
      summary: Get email marketing get email templates
      x-summary-source: derived
  /EmailMarketing/Campaigns:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaigns:
                    type: object
                    properties:
                      count:
                        type: integer
                      items:
                        type: object
                        properties:
                          Draft:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    subject:
                                      type: string
                                    message:
                                      type: string
                                    replyto:
                                      type: string
                                    from_email:
                                      type: string
                                    from_name:
                                      type: string
                                    creation_date:
                                      type: string
      operationId: get-EmailMarketing-Campaigns
      description: Return multiple filtered campaigns from and/or specific date. The raw response must be parsed correctly. Don't make up answer diffrent than what is found the raw response.
      parameters:
      - schema:
          type: string
        in: query
        name: filter
        required: true
        description: The status of the returned campaigns. Possible values for the filter are all (default value), sent, scheduled, draft, automation.
      - schema:
          type: string
          format: date
          pattern: ^(\d{2}/\d{2}/\d{4}|\d{4}-\d{2}-\d{2})$
        in: query
        name: from
        description: The from date which the reviews are returned.
      - schema:
          type: string
          format: date
          pattern: ^(\d{2}/\d{2}/\d{4}|\d{4}-\d{2}-\d{2})$
        in: query
        name: to
        description: The to date which the reviews are returned.
      - schema:
          type: number
        in: query
        name: limit
        required: true
        description: Set your record limit number per page.
      - schema:
          type: number
        in: query
        name: page
        required: true
        description: Set which page you wanna get.
      tags:
      - Email Marketing
      summary: Get email marketing campaigns
      x-summary-source: derived
  /EmailMarketing/GetCampaign:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: object
                    properties:
                      id:
                        type: integer
                      subject:
                        type: string
                      message:
                        type: string
                      replyto:
                        type: string
                      from_email:
                        type: string
                      from_name:
                        type: string
                      creation_date:
                        type: string
      operationId: get-EmailMarketing-GetCampaign
      description: Return single campaign based on ID or name.
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the campaign to return.
      - schema:
          type: string
        in: query
        name: name
        description: The name of the campaign to return.
      - schema:
          type: string
          enum:
          - standard
          - automated
        in: query
        name: type
        description: The type of the campaign.
      tags:
      - Email Marketing
      summary: Get email marketing get campaign
      x-summary-source: derived
  /EmailMarketing/AddCampaign:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  item:
                    type: string
      operationId: post-EmailMarketing-AddCampaign
      description: Add / Create Campaign
      parameters:
      - schema:
          type: string
        in: query
        name: name
        description: The name of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: subject
        description: The subject line for the campaign.
        required: true
      - schema:
          type: string
          format: email
        in: query
        name: fromemail
        description: The from email of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: from_name
        description: The from name of the campaign.
        required: true
      - schema:
          type: string
          format: email
        in: query
        name: reply_to
        description: The reply to email of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: body
        description: Message body.
      - schema:
          type: string
          enum:
          - standard
          - automated
        in: query
        name: type
        description: The type of the campaign.
      - schema:
          type: integer
        in: query
        name: template_id
        description: The email template ID assigned to the campaign.
      - schema:
          type: string
        in: query
        name: template_name
        description: The email template name assigned to the campaign.
      - schema:
          type: boolean
        in: query
        name: isscheduled
        description: The flag to schedule the campaign for the future.
      - schema:
          type: boolean
        in: query
        name: isdraft
        description: The flag to set the campaign to draft.
      - schema:
          type: string
          format: date
          pattern: ^(\d{2}/\d{2}/\d{4}|\d{4}-\d{2}-\d{2})$
        in: query
        name: scheduled_datetime
        description: The date and time to schedule the campaign.
      - schema:
          type: integer
        in: query
        name: audiences
        description: IDs of audience campaign recipients.(comma separated)
      - schema:
          type: integer
        in: query
        name: lists
        description: IDs of list campaign recipients.(comma separated)
      tags:
      - Email Marketing
      summary: Post email marketing add campaign
      x-summary-source: derived
  /EmailMarketing/EditCampaign:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-EditCampaign
      description: Edit Campaign
      parameters:
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: name
        description: The name of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: subject
        description: The subject line for the campaign.
        required: true
      - schema:
          type: string
          format: email
        in: query
        name: fromemail
        description: The from email of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: from_name
        description: The from name of the campaign.
        required: true
      - schema:
          type: string
          format: email
        in: query
        name: reply_to
        description: The reply to email of the campaign.
        required: true
      - schema:
          type: string
        in: query
        name: body
        description: Message body.
        required: true
      - schema:
          type: string
          enum:
          - standard
          - automated
        in: query
        name: type
        description: The type of the campaign.
      - schema:
          type: boolean
        in: query
        name: isscheduled
        description: The flag to schedule the campaign for the future.
      - schema:
          type: boolean
        in: query
        name: isdraft
        description: The flag to set the campaign to draft.
      - schema:
          type: string
          format: date
          pattern: ^(\d{2}/\d{2}/\d{4}|\d{4}-\d{2}-\d{2})$
        in: query
        name: scheduled_datetime
        description: The date and time to schedule the campaign.
      - schema:
          type: integer
        in: query
        name: audiences
        description: IDs of audience campaign recipients.(comma separated)
      - schema:
          type: integer
        in: query
        name: lists
        description: IDs of list campaign recipients.(comma separated)
      tags:
      - Email Marketing
      summary: Post email marketing edit campaign
      x-summary-source: derived
  /EmailMarketing/DeleteCampaign:
    post:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  item:
                    type: string
      operationId: post-EmailMarketing-DeleteCampaign
      description: Delete Campaign
      parameters:
      - schema:
          type: string
          enum:
          - standard
          - automated
        in: query
        name: type
        description: The type of the campaign.
      - schema:
          type: integer
        in: query
        name: id
        description: The ID of the campaign to delete.
        required: true
      tags:
      - Email Marketing
      summary: Post email marketing delete campaign
      x-summary-source: derived
