{
  "openapi": "3.1.0",
  "info": {
    "title": "Vbout",
    "version": "1.0",
	"description": "# Introduction\nVBOUT API provides programmatic access to read and write VBOUT data. You can use it to synch user information between your \nown database and VBOUT's marketing automation, get prospects information and more. The responses are available in JSON/XML.\n# Authentication\nVBOUT offers authentication through:\n- API Key\n- A special and unique user API key will be generated from your account in order to handle API calls for authentication.\n- Permissions can be granted for third-party apps to operate flowlessly by utilizing your VBOUT account.\n# Rate Limits\nTo ensure consistent performance and fair access to all users, VBOUT enforces rate limits on its API. These limits help provide the reliable and scalable API that our developer community relies on.\n\nThe maximum number of requests allowed is 15 requests per 1 second.\n\nIf you exceed your rate limit, VBOUT\u2019s API will return an HTTP `429` Too Many Requests error for all subsequent API calls.\n\nAll API responses (including The 429 response) will have `rate-limit` JSON object:\n\n\t{\n\t\t...\n\t\t\"rate-limit\": {\n\t\t\t\"limit\": \"10\",\n\t\t\t\"requests\": \"1\",\n\t\t\t\"remaining\": \"9\",\n\t\t\t\"reached\": \"0\",\n\t\t\t\"reset\": \"123456789\",\n\t\t\t\"after\": \"1\"\n\t\t}\n\t}\n\nThe returned `rate-limit` values are:\n* `limit`: the maximum number of requests per second\n* `requests`: the number of requests performed in this second\n* `remaining`: the number of requests that client can perform in this second (limit - requests)\n* `reached`: if this request was blocked due to Rate Limit Reached or not\n* `reset`: timestamp of when the requests window will be reset\n* `after`: the number of seconds that client should wait before perform next request in case they reached Rate Limit\n\nAlong with this response, VBOUT\u2019s API will return same `rate-limit` values in `x-rate-limit-*` headers, eg: `x-rate-limit-limit`, `x-rate-limit-requests`, etc. etc.",
    "summary": "Vbout's API documentation"
  },
  "servers": [
    {
      "url": "https://api.vbout.com/1",
      "description": "Resource URL"
    }
  ],
  "paths": {
    "App/Me": {
      "get": {
        "summary": "Application",
        "tags": [
          "Application"
        ],
        "operationId": "get-App-Me",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`  \n  - - -  \n**Particular endpoint Including All Possible Endpoints' responses**\n  ",
        "responses": {
          "100": {
            "description": "Continue"
          },
          "101": {
            "description": "Switching Protocols"
          },
          "200": {
            "description": "Successfull operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "business": {
                      "type": "object",
                      "properties": {
                        "businessname": {
                          "type": "string"
                        },
                        "contactname": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        },
                        "vboutName": {
                          "type": "string"
                        },
                        "package": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "business": {
                        "businessname": "Loft Hotels",
                        "contactname": "Paul Downy",
                        "phoneNumber": "212-400-7133",
                        "vboutName": "Loft-corporate",
                        "package": "Franchise"
                      }
                    }
                  }
                },
                "examples": {
                  "Example Response": {
                    "value": {
                      "business": {
                        "businessname": "Loft Hotels",
                        "contactname": "Paul Downy",
                        "phoneNumber": "212-400-7133",
                        "vboutName": "Loft-corporate",
                        "package": "Franchise"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": "No sample."
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "203": {
            "description": "Non-Authoritative Information"
          },
          "204": {
            "description": "No Content"
          },
          "205": {
            "description": "Reset Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "207": {
            "description": "Multi-Status (WebDAV)"
          },
          "208": {
            "description": "Already Reported (WebDAV)"
          },
          "226": {
            "description": "IM Used"
          },
          "300": {
            "description": "Multiple Choices"
          },
          "301": {
            "description": "Moved Permanently"
          },
          "302": {
            "description": "Found"
          },
          "303": {
            "description": "See Other"
          },
          "304": {
            "description": "Not Modified"
          },
          "305": {
            "description": "Use Proxy"
          },
          "306": {
            "description": "(Unused)"
          },
          "307": {
            "description": "Temporary Redirect"
          },
          "308": {
            "description": "Permanent Redirect (experiemental)"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "XML": {
                  "value": "No sample."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "407": {
            "description": "Proxy Authentication Required"
          },
          "408": {
            "description": "Request Timeout"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "Gone"
          },
          "411": {
            "description": "Length Required"
          },
          "412": {
            "description": "Precondition Failed"
          },
          "413": {
            "description": "Request Entity Too Large"
          },
          "414": {
            "description": "Request-URI Too Long"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "416": {
            "description": "Requested Range Not Satisfiable"
          },
          "417": {
            "description": "Expectation Failed"
          },
          "418": {
            "description": "I'm a teapot (RFC 2324)"
          },
          "420": {
            "description": "Enhance Your Calm (Twitter)"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)"
          },
          "423": {
            "description": "Locked (WebDAV)"
          },
          "424": {
            "description": "Failed Dependency (WebDAV)"
          },
          "425": {
            "description": "Too Early"
          },
          "426": {
            "description": "Upgrade Required"
          },
          "428": {
            "description": "Precondition Required"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "431": {
            "description": "Request Header Fields Too Large"
          },
          "444": {
            "description": "No Response (Nginx)"
          },
          "449": {
            "description": "Retry With (Microsoft)"
          },
          "450": {
            "description": "Blocked by Windows Parental Controls (Microsoft)"
          },
          "451": {
            "description": "Unavailable For Legal Reasons"
          },
          "499": {
            "description": "Client Closed Request (Nginx)"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "501": {
            "description": "Not Implemented"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          },
          "505": {
            "description": "HTTP Version Not Supported"
          },
          "506": {
            "description": "Variant Also Negotiates (Experimental)"
          },
          "507": {
            "description": "Insufficient Storage (WebDAV)"
          },
          "508": {
            "description": "Loop Detected (WebDAV)"
          },
          "509": {
            "description": "Bandwidth Limit Exceeded (Apache)"
          },
          "510": {
            "description": "Not Extended"
          },
          "511": {
            "description": "Network Authentication Required"
          },
          "598": {
            "description": "Network read timeout error"
          },
          "599": {
            "description": "Network connect timeout error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/app/me.json?key={YOUR_API_ID}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n require_once('../PATH/TO/services/ApplicationWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new ApplicationWS($user_key);\n $results = $app->getBusinessInfo();\n print_r($results);\n ?>\n"
          }
        ]
      }
    },
    "SocialMedia/Channels": {
      "get": {
        "summary": "Channels",
        "tags": [
          "Social Media"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "channels": {
                        "Facebook": {
                          "count": 1,
                          "pages": [
                            {
                              "id": "510584708978405",
                              "name": "Spotless TV"
                            }
                          ]
                        },
                        "Twitter": {
                          "count": 1,
                          "profiles": [
                            {
                              "id": "333248756",
                              "screenname": "Hugoo236",
                              "fullname": "Hugo First"
                            }
                          ]
                        },
                        "Linkedin": {
                          "count": 0,
                          "profiles": []
                        }
                      }
                    }
                  },
                  "properties": {
                    "channels": {
                      "type": "object",
                      "properties": {
                        "Facebook": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer"
                            },
                            "pages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "Twitter": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer"
                            },
                            "profiles": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "screenname": {
                                    "type": "string"
                                  },
                                  "fullname": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "Linkedin": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer"
                            },
                            "profiles": {
                              "type": "array",
                              "items": {}
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "channels": {
                        "Facebook": {
                          "count": 1,
                          "pages": [
                            {
                              "id": "510584708978405",
                              "name": "Spotless TV"
                            }
                          ]
                        },
                        "Twitter": {
                          "count": 1,
                          "profiles": [
                            {
                              "id": "333248756",
                              "screenname": "Oli16",
                              "fullname": "Olive Tree"
                            }
                          ]
                        },
                        "Linkedin": {
                          "count": 0,
                          "profiles": []
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-SocialMedia-Channels",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`  \n - - -  \n **Parameters:** `None`",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/socialmedia/channels.json?key={YOUR_API_ID}"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/SocialMediaWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new SocialMediaWS($user_key);\n$results = $app->getChannels();\nprint_r($results);\n?>\n"
          }
        ]
      }
    },
    "SocialMedia/Calendar": {
      "get": {
        "summary": "Calendar",
        "tags": [
          "Social Media"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "calendar": {
                        "count": 168,
                        "items": {
                          "2013-08-15": {
                            "1": {
                              "id": "2347",
                              "message": "http://vbout.com/goto/b0 welcome my man ... how are you [delete url] http://vbout.com/goto/b2",
                              "photo": {
                                "thumb": "http://www.kickstarter.com/images/compass/site/facebook_thumb.jpg",
                                "original": "http://www.kickstarter.com/images/compass/site/facebook_thumb.jpg"
                              },
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/15/2013 14:52 PM"
                              }
                            },
                            "...": null
                          },
                          "2013-08-16": {
                            "2": {
                              "id": "2366",
                              "message": "test facebook headers",
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/16/2013 13:39 PM"
                              }
                            },
                            "3": {
                              "id": "2367",
                              "message": "test facebook post with url  http://vbout.com/goto/bz",
                              "photo": {
                                "thumb": "https://www.facebook.com/images/fb_icon_325x325.png",
                                "original": "https://www.facebook.com/images/fb_icon_325x325.png"
                              },
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/16/2013 13:40 PM"
                              }
                            },
                            "4": {
                              "id": "2368",
                              "message": "test all socials spiders  http://vbout.com/goto/bA",
                              "photo": {
                                "thumb": "http://www.domaintools.com/images/logos/dt-logo-gear-50x50.png",
                                "original": "http://www.domaintools.com/images/logos/dt-logo-gear-50x50.png"
                              },
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/16/2013 13:49 PM"
                              }
                            },
                            "...": null
                          }
                        }
                      }
                    }
                  },
                  "properties": {
                    "calendar": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "2013-08-15": {
                              "type": "object",
                              "properties": {
                                "1": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "message": {
                                      "type": "string"
                                    },
                                    "photo": {
                                      "type": "object",
                                      "properties": {
                                        "thumb": {
                                          "type": "string"
                                        },
                                        "original": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "channel": {
                                      "type": "object",
                                      "properties": {
                                        "network": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "...": {
                                  "type": "null"
                                }
                              }
                            },
                            "2013-08-16": {
                              "type": "object",
                              "properties": {
                                "2": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "message": {
                                      "type": "string"
                                    },
                                    "channel": {
                                      "type": "object",
                                      "properties": {
                                        "network": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "3": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "message": {
                                      "type": "string"
                                    },
                                    "photo": {
                                      "type": "object",
                                      "properties": {
                                        "thumb": {
                                          "type": "string"
                                        },
                                        "original": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "channel": {
                                      "type": "object",
                                      "properties": {
                                        "network": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "4": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "message": {
                                      "type": "string"
                                    },
                                    "photo": {
                                      "type": "object",
                                      "properties": {
                                        "thumb": {
                                          "type": "string"
                                        },
                                        "original": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "channel": {
                                      "type": "object",
                                      "properties": {
                                        "network": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "integer"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "...": {
                                  "type": "null"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "calendar": {
                        "count": 168,
                        "items": {
                          "2013-08-15": {
                            "1": {
                              "id": "2347",
                              "message": "http://vbout.com/goto/b0 welcome my man ... how are you [delete url] http://vbout.com/goto/b2",
                              "photo": {
                                "thumb": "http://www.kickstarter.com/images/compass/site/facebook_thumb.jpg",
                                "original": "http://www.kickstarter.com/images/compass/site/facebook_thumb.jpg"
                              },
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/15/2013 14:52 PM"
                              }
                            },
                            "...": null
                          },
                          "2013-08-16": {
                            "2": {
                              "id": "2366",
                              "message": "test facebook headers",
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/16/2013 13:39 PM"
                              }
                            },
                            "3": {
                              "id": "2367",
                              "message": "test facebook post with url  http://vbout.com/goto/bz",
                              "photo": {
                                "thumb": "https://www.facebook.com/images/fb_icon_325x325.png",
                                "original": "https://www.facebook.com/images/fb_icon_325x325.png"
                              },
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/16/2013 13:40 PM"
                              }
                            },
                            "4": {
                              "id": "2368",
                              "message": "test all socials spiders  http://vbout.com/goto/bA",
                              "photo": {
                                "thumb": "http://www.domaintools.com/images/logos/dt-logo-gear-50x50.png",
                                "original": "http://www.domaintools.com/images/logos/dt-logo-gear-50x50.png"
                              },
                              "channel": {
                                "network": "Facebook",
                                "type": "Page",
                                "id": "510584708978405",
                                "name": "Spotless TV",
                                "date": "08/16/2013 13:49 PM"
                              }
                            },
                            "...": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-SocialMedia-Calendar",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "channels",
            "description": "The channels from where the posts are gathered.<br>**Possible Values:**  all | facebook | twitter | linkedin"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "default": "none",
              "pattern": "m/d/Y | Y-m-d"
            },
            "in": "query",
            "name": "from",
            "required": true,
            "description": "The from date which the reviews are returned. The filter must be `date` for this parameter to work.<br>**Possible Values:** (Date) "
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "default": "none",
              "pattern": "m/d/Y | Y-m-d"
            },
            "in": "query",
            "name": "to",
            "required": true,
            "description": "The to date which the reviews are returned. The filter must be `date` for this parameter to work.<br>**Possible Values:** (Date) "
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "includeposted",
            "description": "Include already scheduled posts inside the results.<br>**Possible Values:** true | false"
          },
          {
            "schema": {
              "type": "number",
              "default": 10
            },
            "in": "query",
            "name": "limit",
            "description": "Set your record limit number per page.<br>**Possible Values:**(Number)"
          },
          {
            "schema": {
              "type": "number",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "description": "Set which page you wanna get.<br>**Possible Values:**(Number)"
          },
          {
            "schema": {
              "type": "string",
              "default": "asc"
            },
            "in": "query",
            "name": "sort",
            "description": "Record Sorting.<br>**Possible Values:**  asc | desc"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/socialmedia/calendar.json?key={YOUR_API_ID}\n   channels=all\n   includeposted=true\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/SocialMediaWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new SocialMediaWS($user_key);\n$params = array(\n    'channels' => 'all',\n    'includeposted' => 'true',\n);\n$results = $app->getCalendar( $params );\nprint_r($results);\n?>\n"
          }
        ]
      }
    },
    "SocialMedia/Stats": {
      "get": {
        "summary": "Stats",
        "tags": [
          "Social Media"
        ],
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "shortenurl": {
                                "type": "string"
                              },
                              "realurl": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "tracks": {
                                "type": "integer"
                              },
                              "clicks": {
                                "type": "object",
                                "properties": {
                                  "facebook": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "stats": {
                        "items": [
                          {
                            "id": "2236",
                            "shortenurl": "A4",
                            "realurl": "http://munchies.com/index.php?route=information/contact&__vbtrk=NjkzNDowOnNvY2lhbG1lZGlhOmZhY2Vib29r&__vbtrk=MjgzNTowOnNvY2lhbG1lZGlhOnR3aXR0ZXI=",
                            "message": "http://vbout.com/goto/A4 click here",
                            "date": "1402401420",
                            "tracks": 9,
                            "clicks": {
                              "facebook": "9"
                            }
                          },
                          {
                            "id": "2436",
                            "shortenurl": "Di",
                            "realurl": "http://www.munchie.com/?__vbtrk=NzkxNjowOnNvY2lhbG1lZGlhOmZhY2Vib29r",
                            "message": "Test leadscoring  https://www.vbout.com/goto/Di",
                            "date": "1408031400",
                            "tracks": 8,
                            "clicks": {
                              "facebook": "8"
                            }
                          },
                          "..."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-SocialMedia-Stats",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "channels",
            "description": "The channels where the posts are gathered from.<br>**Possible values:**  all | facebook | twitter | linkedin | pinterest"
          },
          {
            "schema": {
              "type": "string",
              "default": "asc"
            },
            "in": "query",
            "name": "sort",
            "description": "Record Sorting.<br>**Possible values:**  asc | desc"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/socialmedia/stats.json?key={YOUR_API_ID}&channels=facebook\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/SocialMediaWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new SocialMediaWS($user_key);\n$params = array(\n    'channels' => 'facebook',\n);\n$results = $app->getStats( $params );\nprint_r($results);\n?>\n"
          }
        ]
      }
    },
    "SocialMedia/GetPost": {
      "get": {
        "summary": "Post",
        "tags": [
          "Social Media"
        ],
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "item": {
                        "id": "682",
                        "title": "OSV Treats & Chews provides a big nutritional boost of phytonutrients & antioxidants from fruits & vegetables; tomatoes, spinach & carrots! http://www.clearconsciencepet.com/osv-meaty-treats/",
                        "datetime": "05/16/2013 10:34 AM",
                        "item": {
                          "uid": "0"
                        },
                        "type": "facebook",
                        "image": "",
                        "profile": "166346373390497"
                      }
                    }
                  },
                  "properties": {
                    "item": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "datetime": {
                          "type": "string"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "integer"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "profile": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "item": {
                        "id": "682",
                        "title": "OSV Treats & Chews provides a big nutritional boost of phytonutrients & antioxidants from fruits & vegetables; tomatoes, spinach & carrots! http://www.clearconsciencepet.com/osv-meaty-treats/",
                        "datetime": "05/16/2013 10:34 AM",
                        "item": {
                          "uid": "0"
                        },
                        "type": "facebook",
                        "image": "",
                        "profile": "166346373390497"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-SocialMedia-post",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "ID",
            "description": "The id of the post<br>**Possible values:** (ID)",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "Channel",
            "description": "The channel where the post is created.<br>**Possible values:** facebook | twitter | linkedin",
            "required": true
          }
        ],
        "x-coxdeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/socialmedia/getpost.json?key={YOUR_API_ID}&id=682&channel=facebook\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/SocialMediaWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new SocialMediaWS($user_key);\n$params = array(\n    'id' => '682',\n    'channel' => 'facebook',\n);\n$results = $app->getMyPost( $params );\nprint_r($results);\n?>\n"
          }
        ]
      }
    },
    "SocialMedia/AddPost": {
      "post": {
        "summary": "Add Post",
        "operationId": "post-SocialMedia-AddPost",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "message",
            "required": true,
            "description": "The post message to be scheduled/sent<br> **Possible values:**\"Text\""
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "channel",
            "description": "The channels which the post will be sent to.<br>**Possible values:** facebook | twitter | linkedin | pinterest | instagram",
            "required": true
          },
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "channelid",
            "required": true,
            "description": "The channels which the post will be sent to.<br> **Possible values:** 1 | 2 | 3 | 4"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "photo",
            "description": "The photo which will be attached to the post.<br> **Possible values:** (Link) or (Uploaded Image)"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "isscheduled",
            "description": "This flag will make the post to be scheduled for future.<br> **Possible values:** true | false"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "  m/d/Y | Y-m-d",
              "default": "none",
              "format": "date"
            },
            "in": "query",
            "name": "scheduleddate",
            "description": "Date of the post to be scheduled.<br> **Possible values:** (Date)"
          },
          {
            "schema": {
              "type": "string",
              "format": "time",
              "default": "none"
            },
            "in": "query",
            "name": "scheduledhours",
            "description": "Time of the post to be scheduled.<br> **Possible values:** (Time)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "AMPM of the post to be scheduled.<br> **Possible values:** AM | PM | am | pm",
            "name": "scheduledampm"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "trackableLinks",
            "description": "Convert all links inside message to short urls.<br> **Possible values:** true | false"
          }
        ],
        "tags": [
          "Social Media"
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/socialmedia/addpost.json?key={YOUR_API_ID}\nmessage=Hello World\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n require_once('../PATH/TO/services/SocialMediaWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new SocialMediaWS($user_key);\n $params = array(\n  'message' => 'Hello World',\n );\n $results = $app->AddNewpost( $params );\n print_r($results);\n ?>\n"
          }
        ]
      }
    },
    "SocialMedia/EditPost": {
      "post": {
        "summary": "Edit Post",
        "operationId": "post-SocialMedia-EditPost",
        "responses": {},
        "tags": [
          "Social Media"
        ],
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/socialmedia/editpost.json?key={YOUR_API_ID}\n  id=1\n  channel=facebook\n  message=Hello World!\n  scheduleddatetime=2020-10-20 15:30:00\n"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "id",
            "description": "ID of the post message to be edited.<br>**Possible values:** (ID)",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "channel",
            "description": "The channel where the post was scheduled.<br>**Possible values:** facebook | twitter | linkedin | pinterest | instagram",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "message",
            "description": "The post message to be scheduled/sent.<br>**Possible values:** (Text)"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "ISO-8601 (Y-m-d H:i:s)",
              "format": "date-time"
            },
            "in": "query",
            "name": "scheduleddatetime",
            "description": "Date/Time of the post to be scheduled<br>**Possible values:** (Datetime)"
          }
        ]
      }
    },
    "SocialMedia/DeletePost": {
      "delete": {
        "summary": "Delete Post",
        "operationId": "delete-SocialMedia-DeletePost",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/socialmedia/deletepost.json?key={YOUR_API_ID}\n  id=1\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/SocialMediaWS.php');\t\n$user_key = array('api_key' => '{YOUR_API_KEY}')\t\n$app = new SocialMediaWS($user_key);\n$id = '1';\n$results = $app->removePost($id);\nprint_r($results);\n?>\n"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "id",
            "required": true,
            "description": "ID of the post message to be deleted.<br>**Possible Values:**(ID)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "channel",
            "description": "The channels which the post will be sent to.<br>**Possible Values:** facebook | twitter | linkedin"
          }
        ],
        "tags": [
          "Social Media"
        ]
      }
    },
    "EmailMarketing/Campaigns": {
      "get": {
        "summary": "Campaigns",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "campaigns": {
                        "count": 1,
                        "items": {
                          "Draft": {
                            "data": [
                              {
                                "id": "889",
                                "subject": "Hop Hop, Happy Fridays have never been happier ",
                                "message": "...",
                                "replyto": "info@mycompany.com",
                                "from_email": "no-reply@mycompany.com",
                                "from_name": "Rick's Club American",
                                "creation_date": "11/04/2014 16:33"
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "properties": {
                    "campaigns": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "Draft": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer"
                                      },
                                      "subject": {
                                        "type": "string"
                                      },
                                      "message": {
                                        "type": "string"
                                      },
                                      "replyto": {
                                        "type": "string"
                                      },
                                      "from_email": {
                                        "type": "string"
                                      },
                                      "from_name": {
                                        "type": "string"
                                      },
                                      "creation_date": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "campaigns": {
                        "count": 1,
                        "items": {
                          "Draft": {
                            "data": [
                              {
                                "id": "889",
                                "subject": "Hop Hop, Happy Fridays have never been happier ",
                                "message": "...",
                                "replyto": "info@mycompany.com",
                                "from_email": "no-reply@mycompany.com",
                                "from_name": "Rick's Club American",
                                "creation_date": "11/04/2014 16:33"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-Campaigns",
        "description": "**Authentication:** `Required`  \n  - - -\n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "filter",
            "description": "The timeline during which the reviews are returned.<br>**Possible values:**  all | sent | scheduled | draft | automation",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "none",
              "pattern": "m/d/Y | Y-m-d",
              "format": "date"
            },
            "in": "query",
            "name": "from",
            "description": "The from date which the reviews are returned. The filter must be 'date' for this parameter to work.<br>**Possible values:**   (Date)"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "m/d/Y | Y-m-d",
              "default": "none"
            },
            "in": "query",
            "description": "The from date which the reviews are returned. The filter must be 'date' for this parameter to work.<br>**Possible values:**  (Date)  ",
            "name": "to"
          },
          {
            "schema": {
              "type": "number",
              "default": "10"
            },
            "in": "query",
            "name": "limit",
            "description": "Set your record limit number per page.<br>**Possible values:**  (Number)"
          },
          {
            "schema": {
              "type": "number",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "description": "Set which page you wanna get.<br>**Possible values:**  (Number)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/emailmarketing/campaigns.json?key={YOUR_API_ID}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n   require_once('../PATH/TO/services/EmailMarketingWS.php');\n   $user_key = array('api_key' => '{YOUR_API_KEY}');\n   $app = new EmailMarketingWS($user_key);\n   $params = array(\n   'filter' => 'all',\n   'limit' => '10',\n       );\n     $results = $app->getCampaigns( $params );\n     print_r($results);\n    ?>\n"
          }
        ],
        "tags": [
          "Email Marketing"
        ]
      }
    },
    "EmailMarketing/GetCampaign": {
      "get": {
        "summary": "Campaign",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "item": {
                        "id": "889",
                        "subject": "Reservations were never that easy!",
                        "message": "...",
                        "replyto": "no-reply@lofthotels.com",
                        "from_email": "reservations@lofthotels.com",
                        "from_name": "Loft Hotels",
                        "creation_date": "11/04/2014 16:33"
                      }
                    }
                  },
                  "properties": {
                    "item": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "subject": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "replyto": {
                          "type": "string"
                        },
                        "from_email": {
                          "type": "string"
                        },
                        "from_name": {
                          "type": "string"
                        },
                        "creation_date": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "item": {
                        "id": "889",
                        "subject": "Reservations were never that easy!",
                        "message": "...",
                        "replyto": "no-reply@lofthotels.com",
                        "from_email": "reservations@lofthotels.com",
                        "from_name": "Loft Hotels",
                        "creation_date": "11/04/2014 16:33"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-GetCampaign",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": " id",
            "description": "The ID of the campaign to return.<br>**Possible Values:**  (ID)",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "standard"
            },
            "in": "query",
            "name": "type",
            "description": "The type of the campaign.<br>**Possible Values:**  standard | automated"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/emailmarketing/getcampaign.json?key={YOUR_API_ID}&id=889&type=standard\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => '889',\n     'type' => 'standard',\n );\n $results = $app->getCampaign( $params );\n print_r($results);\n ?>\n"
          }
        ],
        "tags": [
          "Email Marketing"
        ]
      }
    },
    "EmailMarketing/Stats": {
      "get": {
        "summary": "Stats",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "type": "object",
                      "properties": {
                        "stats": {
                          "type": "object",
                          "properties": {
                            "open": {
                              "type": "string"
                            },
                            "unopened": {
                              "type": "string"
                            },
                            "bounced": {
                              "type": "string"
                            },
                            "unsubscribed": {
                              "type": "string"
                            }
                          }
                        },
                        "clicks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "clickers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "campaign": {
                        "stats": {
                          "open": "1 (33.33%)",
                          "unopened": "2 (66.67%)",
                          "bounced": "0 (0%)",
                          "unsubscribed": "11 (366.67%)"
                        },
                        "clicks": [
                          {
                            "url": "http://www.netalinissim.com/img/logo.jpg?1400686763",
                            "message": ""
                          },
                          {
                            "url": "http://www.netalinissim.com",
                            "message": "",
                            "clickers": [
                              "example@gmail.com(2 clicks)"
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "campaign": {
                        "stats": {
                          "open": "1 (33.33%)",
                          "unopened": "2 (66.67%)",
                          "bounced": "0 (0%)",
                          "unsubscribed": "11 (366.67%)"
                        },
                        "clicks": [
                          {
                            "url": "http://www.netalinissim.com/img/logo.jpg?1400686763",
                            "message": ""
                          },
                          {
                            "url": "http://www.netalinissim.com",
                            "message": "",
                            "clickers": [
                              "Example@gmail.com(2 clicks)"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-Stats",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "id",
            "description": "The ID of the campaign to return.<br>**Possible values:**  (ID)  ",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "standard"
            },
            "in": "query",
            "name": "type",
            "description": "The type of the campaign.<br>**Possible values:**  standard | automated"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/emailmarketing/getcampaign.json?key={YOUR_API_ID}&id=889&type=standard\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => '889',\n     'type' => 'standard',\n );\n $results = $app->getCampaign( $params );\n print_r($results);\n ?>\n"
          }
        ],
        "tags": [
          "Email Marketing"
        ]
      }
    },
    "EmailMarketing/AddCampaign": {
      "post": {
        "summary": "Add Campaign",
        "operationId": "post-EmailMarketing-AddCampaign",
        "responses": {},
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "name",
            "required": true,
            "description": "The name of the campaign.<br>**Possible values:**  (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "subject",
            "description": "The subject line for the campaign.<br>**Possible values:**  (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none",
              "format": "email"
            },
            "in": "query",
            "required": true,
            "name": "fromemail",
            "description": "The from email of the campaign.<br>**Possible values:**  (Email)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "from_name",
            "description": "The from name of the campaign.<br>**Possible values:**  (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none",
              "format": "email"
            },
            "in": "query",
            "required": true,
            "name": "reply_to",
            "description": "The reply to email of the campaign.<br>**Possible values:** (Email)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "body",
            "description": "Message body.<br>**Possible values:** (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "standard"
            },
            "in": "query",
            "name": "type",
            "description": "The type of the campaign.<br>**Possible values:** standard | automated"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "isscheduled",
            "description": "The flag to schedule the campaign for the future.<br>**Possible values:**  true | false"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "isdraft",
            "description": "The flag to set the campaign to draft.<br>**Possible values:**  true | false"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "m/d/Y | Y-m-d",
              "default": "none"
            },
            "in": "query",
            "name": "scheduled_datetime",
            "description": "The date and time to schedule the campaign.<br>**Possible values:**  (Date)"
          },
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "audiences",
            "description": "IDs of audience campaign recipients.(comma separated)<br>**Possible values:**  (IDs)"
          },
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "lists",
            "description": "IDs of list campaign recipients.(comma separated)<br>**Possible values:**  (IDs)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/emailmarketing/addcampaign.json?key={YOUR_API_ID}\n   name=Test Campaign\n   subject=Hello World\n   fromemail=info@example.com\n   body=Message body\n   type=standard\n   isdraft=true\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$params = array(\n    'name' => 'Test Campaign',\n    'subject' => 'Hello World',\n    'fromemail' => 'info@example.com',\n    'body' => 'Message body',\n    'type' => 'standard',\n    'isdraft' => 'true',\n);\n$results = $app->addNewCampaign( $params );\nprint_r($results);\n?>\n"
          }
        ],
        "tags": [
          "Email Marketing"
        ]
      }
    },
    "EmailMarketing/EditCampaign": {
      "post": {
        "summary": "Edit Campaign",
        "operationId": "post-EmailMarketing-EditCampaign",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "id",
            "required": true,
            "description": "The ID of the campaign.<br>**Possible values:**  (ID)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "name",
            "description": "The name of the campaign.<br>**Possible values:**  (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "subject",
            "description": "The subject line of the campaign.<br>**Possible values:**  (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "body",
            "description": "Message body.<br>**Possible values:** (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "required": true,
            "name": "fromemail",
            "description": "The from email of the campaign.<br>**Possible values:** (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none"
            },
            "in": "query",
            "name": "from_name",
            "required": true,
            "description": "The from name of the campaign.<br>**Possible values:** (Text)"
          },
          {
            "schema": {
              "type": "string",
              "default": "none",
              "format": "email"
            },
            "in": "query",
            "name": "reply_to",
            "description": "The reply to email of the campaign.<br>**Possible values:**(Email)",
            "required": true
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "isscheduled",
            "description": "The flag to schedule the campaign for the future.<br>**Possible values:** true | false"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "isdraft",
            "description": "The flag to set the campaign to draft.<br>**Possible values:** true | false"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "m/d/Y | Y-m-d",
              "default": "none",
              "format": "date-time"
            },
            "in": "query",
            "name": "scheduled_datetime",
            "description": "The date time to schedule the campaign."
          },
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "audiences",
            "description": "IDs of audience campaign recipients.(comma separated)<br>**Possible values:** (IDs)"
          },
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "lists",
            "description": "IDs of list campaign recipients.(comma separated)<br>**Possible values:** (IDs)"
          },
          {
            "schema": {
              "type": "string",
              "default": "standard"
            },
            "in": "query",
            "name": "type",
            "description": "The type of the campaign.<br>**Possible values:** standard | automated"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/emailmarketing/editcampaign.json?key={YOUR_API_ID}\n   name=Test Campaign\n   subject=Hello World\n   fromemail=info@example.com\n   body=Here the content of your message\n   type=standard\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$params = array(\n    'name' => 'Test Campaign',\n    'subject' => 'Hello World',\n    'fromemail' => 'info@example.com',\n    'body' => 'Here the content of your message',\n    'type' => 'standard',\n);\n$results = $app->updateCampaign( $params );\nprint_r($results);\n?>\n"
          }
        ],
        "tags": [
          "Email Marketing"
        ]
      }
    },
    "EmailMarketing/DeleteCampaign": {
      "delete": {
        "summary": "Delete Campaign",
        "operationId": "delete-EmailMarketing-DeleteCampaign",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "id",
            "required": true,
            "description": "The ID of the campaign to delete.<br>**Possible values:**   (ID) "
          },
          {
            "schema": {
              "type": "string",
              "default": "standard"
            },
            "in": "query",
            "name": "type",
            "description": "The type of the campaign.<br>**Possible values:**  standard | automated"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "POST https://api.vbout.com/1/emailmarketing/deletecampaign.json?key={YOUR_API_ID}\n  id=886\n  type=standard\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n require_once('../PATH/TO/services/EmailMarketingWS.php');\n $user_key = array('api_key' => '{YOUR_API_KEY}');\n $app = new EmailMarketingWS($user_key);\n $params = array(\n     'id' => '886',\n     'type' => 'standard',\n );\n $results = $app->removeCampaign( $params );\n print_r($results);\n?>\n"
          }
        ],
        "tags": [
          "Email Marketing"
        ]
      }
    },
    "EmailMarketing/GetContacts": {
      "get": {
        "summary": "Contacts",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "contacts": {
                        "count": 15,
                        "items": [
                          {
                            "id": "3",
                            "email": "jim@tester.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          {
                            "id": "4",
                            "email": "joe@tester.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          {
                            "id": "62",
                            "email": "jim@tester222.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          "..."
                        ]
                      }
                    }
                  },
                  "properties": {
                    "contacts": {
                      "type": "object"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "email": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "registration_date": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "email": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "registration_date": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "email": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "registration_date": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "contacts": {
                        "count": 15,
                        "items": [
                          {
                            "id": "3",
                            "email": "jim@tester.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          {
                            "id": "4",
                            "email": "joe@tester.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          {
                            "id": "62",
                            "email": "jim@tester222.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          "..."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-GetContacts",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "0"
            },
            "in": "query",
            "name": " listid",
            "description": "The ID of the list to return its contacts.<br>**Possible values:**  (IDs)",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/emailmarketing/getcontacts.json?key={YOUR_API_ID}&listid=524\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$listid = '524';\n$results = $app->getMyContacts($listid);\nprint_r($results);\n?>\n"
          }
        ],
        "tags": [
          "Contact"
        ]
      }
    },
    "EmailMarketing/GetContactsByPhoneNumber": {
      "get": {
        "summary": "Contacts By Phone Number",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "array",
                          "items": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "registration_date": {
                                  "type": "string"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "registration_date": {
                                  "type": "string"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "registration_date": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "contacts": {
                        "count": 15,
                        "items": [
                          {
                            "id": "3",
                            "email": "jim@tester.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          {
                            "id": "4",
                            "email": "joe@tester.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          {
                            "id": "62",
                            "email": "jim@tester222.com",
                            "status": "1",
                            "registration_date": "11/30/2014 00:00"
                          },
                          "..."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-GetContactsByPhoneNumber",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "0"
            },
            "in": "query",
            "name": "listid",
            "required": true,
            "description": "The ID of the list to return its contacts.<br>**Possible values:**  (IDs)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/EmailMarketing/GetContactsByPhoneNumber.json?key= {YOUR_API_ID}&phone=+19123456789&listid=524"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$phone = '+19123456789';\n$listid = '524';\n$results = $app->getContactsByPhoneNumber($phone, $listid);\nprint_r($results);\n?>\n"
          }
        ],
        "tags": [
          "Contact"
        ]
      }
    },
    "EmailMarketing/GetContactByEmail": {
      "get": {
        "summary": "Contact By Email",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "contact": {
                        "id": "3",
                        "email": "jim@tester.com",
                        "status": "1",
                        "registration_date": "11/30/1998 00:00"
                      }
                    }
                  },
                  "properties": {
                    "contact": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "registration_date": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "contact\"": {
                        "id": "3",
                        "email": "jim@tester.com",
                        "status": "1",
                        "registration_date": "11/30/1998 00:00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-GetContactByEmail",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "https://api.vbout.com/1/emailmarketing/getcontactbyemail"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$phone = '+19123456789';\n$listid = '524';\n$results = $app->getContactsByPhoneNumber($phone, $listid);\nprint_r($results);\n?>\n"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "none",
              "format": "email"
            },
            "in": "query",
            "name": "email",
            "required": true,
            "description": "The Email of the contact to return.**Possible values:** (Email)"
          },
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "listid",
            "description": "The List id of which this contact does belong to.**Possible values:**(ID)"
          }
        ],
        "tags": [
          "Contact"
        ]
      }
    },
    "EmailMarketing/GetContact": {
      "get": {
        "summary": "Contact",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "contact": {
                        "id": "3",
                        "email": "jim@tester.com",
                        "status": "1",
                        "registration_date": "11/30/1998 00:00"
                      }
                    }
                  },
                  "properties": {
                    "contact": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "registration_date": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "contact\"": {
                        "id": "3",
                        "email": "jim@tester.com",
                        "status": "1",
                        "registration_date": "11/30/1998 00:00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-EmailMarketing-GetContact",
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": "none"
            },
            "in": "query",
            "name": "id",
            "required": true,
            "description": "The ID of the contact to return.<br>**Possible values:** (ID)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "GET https://api.vbout.com/1/emailmarketing/getcontact.json?key={YOUR_API_ID}&id=3\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once('../PATH/TO/services/EmailMarketingWS.php');\n$user_key = array('api_key' => '{YOUR_API_KEY}');\n$app = new EmailMarketingWS($user_key);\n$id = '3';\n$results = $app->getMyContact($id);\nprint_r($results);\n?>\n"
          }
        ],
        "tags": [
          "Contact"
        ]
      }
    },
    "EmailMarketing/AddContact": {
      "post": {
        "summary": "Add Contact",
        "operationId": "post-EmailMarketing-AddContact",
        "tags": [
          "Contact"
        ],
        "description": "**Authentication:** `Required`    \n  - - -  \n  \n**Response Formats:** `XML | JSON`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "None"
            },
            "in": "query",
            "name": " status",
            "description": "The status of the contact.<br>**Possible values:** (Active | Disactive)",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "listid",
            "description": "The ID of the list to assign this contact to.<br>**Possible values:** (ID)",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "None",
              "format": "email"
            },
            "in": "query",
            "name": "email",
[...]
